@model List<TslWebApp.Models.SmsMessage>

@{
    ViewData["Title"] = "SMS sending view";
}

<h2>SMS Messages sending progress</h2>

@if (Model != null) {
<div class="table">
    <div class="col-sm-12">
        <div class="progress">
            <div id="progressbar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
        <a id="cancel-sms-messages" asp-action="Cancel">
            <i class="material-icons">
                cancel
            </i>
        </a>
    </div>
    <div class="row table-header-row pb-3">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model[0].DriverId)
        </div>
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model[0].Title)
        </div>
        <div class="col-sm-5">
            @Html.DisplayNameFor(model => model[0].Content)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model[0].PhoneNumber)
        </div>
    </div>
    <div id="status-control" class="font-weight-bold"></div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-2">
                <p>@item.DriverId</p>
            </div>
            <div class="col-sm-3">
                <p>@item.Title</p>
            </div>
            <div class="col-sm-5">
                <p>@item.Content</p>
            </div>
            <div class="col-sm-2">
                <p>@item.PhoneNumber</p>
            </div>
        </div>
    }
</div>
}

<script>
    StartCheckProgress(1000);
</script>